@gr: #161E29;
@f: #fff;
@fl: rgba(255,255,255, 0.4);
@fll: rgba(255,255,255, 0.2);
@fg: #f2f4f4;
@o: #2F29F8;
@bl: #3C3DAD;
@b: #228C66;
@h: #ffc700;
@s: #AE0E0E;
@footer: #879196;
@bg: #292D38;
@bgl: #1C2836;
@ff: #97a3b9;
@fw: #cfdaec;
@tw: 221px;
@hh: 0px;
// @hh: 78px;
@br: 1px solid @f;

body {
  background-color: @gr;
  overflow-x: hidden;
  padding: 0;
  // margin: 0;
}

.color(@color) {
  .profile {
    .avatar {
      border-color: @color;
    }
    img {
      border-color: @color;
    }

    .plan {
      color: @color;
    }

    .img {
      img {
        border-color: @color;
      }
    }
    // .profile {
    //   background: linear-gradient(180deg, @color 0%, rgba(87, 0, 229, 0) 100%);
    // }
  }

  .card {
    &:after {
      border-bottom-color: @color;
    }

    .info {
      background: linear-gradient(180deg, @color 0%, #292D38 100%);
    }
  }

  .client {
    img {
      border-color: @color !important;
    }

    .subscription {
      color: @color
    }
  }

  .avatar {
    img {
      border-color: @color !important;
    }
  }
}

.silver {
  .color(#c8c6c6);
}

.gold {
  .color(#ffc700);
}

.platinum {
  .color(#6ac3fe);
}

.vip + {
  .color(#fda31c);
}
.vip\+ {
  .color(#48ffa7);
}
.dragon {
  .color(#ff3d00);
}

::v-deep .select {
  border: none;
  width: 100%;

  .vs__dropdown-toggle {
    border: @br;
    border-radius: 22px;
    background: @bgl;
  }

  .vs__dropdown-menu {
    background: @bgl;
    width: 82%;
    border-radius: 0 0 22px 22px;
    border: @br;
    min-width: 20px;
    border-top: 0;
    padding: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  .vs__dropdown-option {
    color: @f;
  }
  
  .vs__dropdown-option--highlight {
    background: @bgl;
  }

  .vs__selected {
    color: @f;
    margin: 0;
    opacity: 1;
  }

  .vs__selected-options {
    padding: 0 10px;
  }

  .vs__clear {
    display: none;
  }

  .vs__open-indicator {
    fill: @f;
  }

  .vs__search {
    padding: 0;
    border: none;
    width: 0;
    background: transparent;
    color: @f;
  }

  input {
    // display: none;
    // visibility: hidden;
  }
}

.tooltip {
  display: block !important;
  z-index: 10000;
  // background-color: red !important;

    .tooltip-inner {
      background: @bgl;
      color: @f;
      border-radius: 16px;
      padding: 5px 10px 4px;
      font-size: 12px;
    }

    .tooltip-arrow {
      border-color: @bgl;
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      margin: 5px;
      z-index: 1;
    }

    &[x-placement^="top"] {
      margin-bottom: 5px;
  
      .tooltip-arrow {
        border-width: 5px 5px 0 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        bottom: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  
    &[x-placement^="bottom"] {
      margin-top: 5px;
  
      .tooltip-arrow {
        border-width: 0 5px 5px 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
        top: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  
    &[x-placement^="right"] {
      margin-left: 5px;
  
      .tooltip-arrow {
        border-width: 5px 5px 5px 0;
        border-left-color: transparent !important;
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
        left: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
      }
    }
  
    &[x-placement^="left"] {
      margin-right: 5px;
  
      .tooltip-arrow {
        border-width: 5px 0 5px 5px;
        border-top-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        right: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
      }
    }

    &[aria-hidden='true'] {
      visibility: hidden;
      opacity: 0;
      transition: opacity .15s, visibility .15s;
    }
  
    &[aria-hidden='false'] {
      visibility: visible;
      opacity: 1;
      transition: opacity .15s;
    }
}
